*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
.augment/
composer.local.json
/packages/xoshbin/pertuk
/packages/xoshbin/jmeryar-theme
/packages/xoshbin/filament-create-on-search-select
kezi.code-workspace
tests/Browser/Screenshots
