*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
all_casts.md
all_events.md
all_exceptions.md
all_factories.md
all_listeners.md
all_migrations.md
all_models.md
all_observers.md
all_seeders.md
all_services.md
all_tests.md
all_actions.md
all_datatransferobjects.md
all_filament.md
all_http.md
all_livewire.md
all_policies.md
all_providers.md
all_rules.md
all_enums.md
all_console.md
all_jobs.md
.augment/
composer.local.json
